
.toolbar {
    background-color: #FFF;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px solid #001;
    border-bottom-width: 1px;
    flex: 1;
    display: flex;
}